{% extends 'user_page/layout.html' %}
{% block body %}
    <h2>รายวิชา</h2>
    <li><a href="{% url 'user_page:front_page' %}">ย้อนกลับ</a></li>
    <ul>
    <div style="color:red">{{ already_acquired }}</div>
    {% for subject in searched_subjects %}
        <li>{{ subject.subject_id }}: {{ subject.name }}<br>
            หน่วยกิต: {{ subject.gpd }} จดทะเบียนแล้ว/ที่นั่ง: {{ subject.students.all|length }}/{{ subject.n_seats }}<br>
            สถานะจดทะเบียน: 
            {% if not subject.is_requestable %}
                ยังไม่เปิดให้ลงทะเบียน
            {% elif subject.students.all|length == subject.n_seats %}
                <div style="color:red">เต็ม</div>
            {% else %}
                <a href= {{ subject.subject_id }}>จดทะเบียน</a>
            {% endif %}
            
        </li>
        {% empty %}
            <div style="color:red">{{ not_found_message }}</div>
    {% endfor %}
    </ul>
    <form action="{% url 'user_page:quota_request_page' %}" method='post'>
        {% csrf_token %}
        <label for="subject_id">รหัสวิชา:</label>
        <input type="text" id="subject_id" name="subject_id">
        <input type="submit" value="ค้นหา">
    </form>
    <hr>
    <h2>วิชาที่จะจดทะเบียน</h2>
    <ol>
    {% for subject in selected_subjects %}
        <li>{{ subject.0 }}: {{ subject.1 }} GPD:{{ subject.2 }}
        <a href = "remove/{{ subject.0 }}">ลบ</a>
        </li>
        {% empty %}
        คุณยังไม่ได้เลิอกวิชาใดๆ
    {% endfor %}
    </ol>
    {% if selected_subjects %}
        <li>กรุณาตรวจสอบให้เรียบร้อย เมื่อกดตกลงแล้วจะไม่สามารถแก้ไขได้</li>
        <form>
        <input type="submit" value="ตกลง">
        </form>
    {% endif %}
{% endblock %}